kursstreamlit/
WSAD2025/
emailsender/sendgrid.env
bank/SAML-D.csv
bank/X.csv
bank/y.csv
pytorch/data/
exxonticket/
kolofortuny/kolovenv/
# tablo/
pytorch/client_secret.json
tablo/venv/
kolofortuny/gifs/pawel/audio.mp3